@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    <p>
        This application was created as a part of blog post - <a href="#">Add message to Azure Service Bus from ASP.NET Web Application</a>, where you can find detailed description.
        Go to <a asp-area="" asp-controller="ServiceBusMessage" asp-action="Create">Send message page</a> to start.
    </p>

    <br />

    <p>Developed by <a href="https://github.com/kubawajs">Jakub Wajs</a></p>

</div>

<br />

<div>
    <h3>Useful links:</h3>
    <p>
        <ul>
            <li>
                Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
            </li>
            <li>
                Learn more about <a href="https://docs.microsoft.com/en-us/azure/guides/developer/azure-developer-guide">development on Azure</a>.
            </li>
        </ul>
    </p>
</div>
